.containerBoxInBlock {

}

.boxInBlock {
    width: 300px;
    border: 2px solid #000000;
    padding: 20px;
    height: 200px;
    overflow: hidden;
}

.containerBoxInLine {
    display: flex;
    gap: 20px;
}

.boxInLine {
    width: 300px;
    border: 2px dashed grey;
    padding: 20px;
    height: 200px;
    overflow: hidden;
}